// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// ActiveSkin colors (my old custom)
//$skinActiveColor: #FF9900;
//$skinHeaderBck: #3299BB;
//$panelHeaderBck: #424242;

// ActiveSkin colors (Binar)
$skinActiveColor: #FF9900;
//$skinActiveColor: #D42D19;
$skinHeaderBck: #16A5D4;
$panelHeaderBck: #424242;

$breadcrumbs-color: #e7f5ff;

$skinLogo: url("/img/logo-sm.png") no-repeat 30px 4px;


// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "active_skin";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }